<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cropmanagement">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CropManagement">
        <activity android:name=".videos"></activity>
        <activity android:name=".crop8" />
        <activity android:name=".crop7" />
        <activity android:name=".crop6" />
        <activity android:name=".crop5" />
        <activity android:name=".crop4" />
        <activity android:name=".crop3" />
        <activity android:name=".crop2" />
        <activity android:name=".crop1" />
        <activity android:name=".productlinks2" />
        <activity android:name=".crpinfo" />
        <activity android:name=".prices" />
        <activity android:name=".productlinks" />
        <activity android:name=".Mpage" />
        <activity android:name=".login" />
        <activity android:name=".register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>